<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>Manage users1 </li>
            <li><button ng-click="addItem()" class="addItem">ADDITEM</button></li>
        </ul>
        
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="col-md-12">
                    <ul>
                         <li ng-repeat="(user_key,user_value) in users" class="col-md-4 users">
                             
                             <p><img class="img-circle" src="{{user_value.image}}"/></p>
                             <p><span>{{user_value.firstname + " " + user_value.middlename + " " + user_value.lastname}} </span></p>
                             <p><span>{{user_value.position}}</span></p>
                             <p><button ng-click="removeItem()">Remove Item</button></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>